<!DOCTYPE html>
<html>
<head>
	<title>Test Game</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=IM+Fell+English" rel="stylesheet">
</head>
<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="container">
	<div class="row">
		<div class="col-md-4 text-center">
			<!-- Handlebars Image -->
			<img src="" alt="">
		</div>

		<div class="col-md-4 text-center">
			<img id="logo" src="/assets/img/trail mix logo.png" alt="" height="150px">
		</div>

		<div class="col-md-4 text-center">
			<!-- Handlebars Image -->
			<img src="" alt="">
		</div>
	</div>
</div>

<div class="container">

		<div class="col-md-3">
			<img class="img-thumbnail" id="left" src="">
		</div>
		<div id="textDisplay" class="col-md-6">
			<p id="display"></p>
			<div class="text-center" id="choiceButton">
				<h3>What do you choose?</h3>
				<select class="form-control" id="choice">
					<option value=""></option>
					<option id="choice1" value="1"></option>
					<option id="choice2" value="2"></option>
					<br>
				</select>
				<br>
				<button class="btn-success btn-md" id="submit">Submit Answer</button>
			</div>
			<div class="text-center">
				<button class="btn-success btn-md" id="continue">Continue on</button>
				<button class="btn-success btn-md" id="finish">!!!!!!!</button>
				<button class="btn-success btn-md" id="end">End</button>
				<button class="btn-success btn-md" id="collect">Collect Prize</button>
			</div>
		</div>
		<div class="col-md-3">
			<img class="img-thumbnail" id="right" src="">
		</div>
	</div>


</div>
<script src="/assets/js/test.js"></script>
</body>
</html>
