
<!-- Logo -->
<div class="text-center">
  <img src="../public/assets/img/trail mix logo.png" alt="Logo" height="200">
</div>

<div class="text-center">
  <h2>Available Adventures</h2>
</div>

<!-- Game Theme Logo -->
