
<!-- Logo -->
<div class="center-align">
  <img src="/assets/img/trail mix logo.png" alt="Logo" height="250">
</div>

<div class="center-align">
  <h2>Available Adventures</h2>
</div>

<!-- Game Theme Logo -->
