body {
  background: url("/assets/img/background1.png");
}

li {
  margin-left: 35px;
  padding: 5px;
}

.login-link, .logout-link {
  color: gray;
}

.trail-logo {
  margin-top: 15px;
}

.ava-adventures {
  font-family: 'Bowlby One SC', cursive;
  color: #7a5120;
  font-size: 50px;
}

.rest-logo {
  margin-top: 5px;
}

.instructions {
  font-family: 'Bowlby One SC', cursive;
  color: #7a5120;
  margin-top: 10px;
}

.ad-image {
  width: 300px;
  margin: -15px auto 30px 30px;
}