body {
  background: url("../img/background1.png");
}

.ava-adventures {
  font-family: 'Bowlby One SC', cursive;
  color: #7a5120;
  font-size: 50px;
}

.navbar {
  background-color: #7a5120;
}

.instructions {
  font-family: 'Bowlby One SC', cursive;
  color: #7a5120;
}
